
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=League+Spartan:wght@100;200;300;400;700;800&family=Lugrasimo&family=Oswald&family=Pacifico&family=Poppins:wght@600;700;900&display=swap');


:root{
    --primary: #ff0040;
    --primary-hover:rgb(255, 217, 0);
    --primary-font: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}


html{
     scroll-behavior: smooth;
}


body{

    background-color: var(--primary);
    scroll-behavior: smooth;
    
}

/* header */

header{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
    background-color: var(--primary);
}

/* logo */

.logo{
    left: 10px;
    display: flex;
    
}

.logo img{
    position: relative;
    display: flex;
    margin-left: -100px;
    width: 50px;
    height: 50px;
    transition: 0.3 ease-in-out ;
    cursor: pointer;
}

.logo img:hover{
    transform: scale(1.1);
    color: var(--primary-hover);
}

/* name */

.head_name h1{
    position: relative;
    display: inline-block;
    justify-content: center;
    margin-left: 0px;
    margin-top: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    transition: 0.3 ease-in-out ;
}

.head_name h1:hover{
    transform: scale(1.1);
    color: var(--primary-hover);
}

 .head_name h1 a{
    list-style: none;
} 


/* nav items */
.nav_menu{
    position: relative;

}

.list{
    display: flex;
    list-style: none;
    /* font-family: var(--primary-font); */
}

.list li{
   margin-left: 60px;
   transition: 0.3 ease-in-out ;
} 

.list li:hover{
    transform: scale(1.1);
}

.list li a{
    color: #e9e5dd;
    text-decoration: none;
    
} 

.list li a:hover{
    color: var(--primary-hover) ;
}


/* button */


.btn_download{
    display: flex;
    
}

.btn_download button{
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid var(--primary-hover);
   border-radius: 2px;
    background-color: var(--primary-hover);
    color: white;
    transition: 0.3 ease-in-out ;
}

.btn_download button:hover{
   background-color: var(--primary);
   color: var(--primary-hover);
   transform: scale(1.1);
}


/* main */

.main_items{
    display: flex;
    align-items: center;
    color: white;
    margin-top: 120px;
    margin-left: 60px;
    padding: 20px 130px 0 230px;
    margin-bottom: 100px;
}

.main_items h4{
    font-size: 15px ;
    color: var(--primary-hover);
}

.main_items h4 span{
    color: white;
}
.main_items h1{
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 58px;
   font-weight: 800;
    color: var(--primary-hover);
    cursor: pointer;
}

.main_items h1:hover{
    color: white;
}
.main_items p{
    word-spacing: 2px;
    line-height: 1.3em;
    /* font-weight: 100; */
    font-size: 12px;
   display: block;
    text-align: justify;
}


/* social icons */

.social_icons{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 25px;

}

.social_icons li{
    margin-top: 20px;
    margin-right: 20px;
    
}

.icons1{
    color: white;
    transition: 0.3 ease-in-out ;
    
}

.icons1:hover{
    color: blue;
    transform: scale(1.5);
}

.icons2{
    color: white;
    transition: 0.3 ease-in-out ;
    
}

.icons2:hover{
    color: rgb(255, 0, 76);
    transform: scale(1.5);
}

.icons3{
    color: white;
    transition: 0.3 ease-in-out ;
    
}

.icons3:hover{
    color: rgb(0, 225, 255);
    transform: scale(1.5);
}

.icons4{
    color: white;
    transition: 0.3 ease-in-out ;
    
}

.icons4:hover{
    color: rgb(51, 255, 0);
    transform: scale(1.5);
}


/* hire button */

.hire_me{
     padding: 10px 15px;
     margin-top: 35px;
    cursor: pointer;
    border: 2px solid var(--primary-hover);
   border-radius: 2px;
    background-color: var(--primary-hover);
    color: rgb(0, 0, 0);
    transition: 0.1 ease-in-out ;
}

.hire_me:hover{
    background-color: var(--primary);
    color: white;
    transform: scale(1.1);
}

.hire{
    margin-right: 5px;
}

.btn_mail{
    position: absolute;
    padding: 10px 15px;
    margin-top: -40px;
    margin-left: 120px;
   cursor: pointer;
   border: 2px solid var(--primary-hover);
  border-radius: 2px;
   background-color: var(--primary);
   color: white;
   transition: 0.3 ease-in-out ;
}

.btn_mail:hover{
    background-color: var(--primary-hover);
    color: black;
    transform: scale(1.1);
}

.maill{
    margin-right: 5px;
}

/* image */

.img{
    margin-left: 500px;
    margin-top: -425px;
    width: 370px;
    height: 400px;
}



/* About MySelf */

.about_myelf{
background-color: #0f0f0f;
   padding: 60px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.about_myelf img{
    width: 360px;
    border-radius: 60%;
    border: 2px solid var(--primary-hover);
   box-shadow: 3px 5px 25px var(--primary-hover);
   margin-left: -100px;
   margin-top: 30px;
}

.about_section_dec{

    color: white;
    margin-left: 150px;
    max-width: 450px;
}


.about_title{
    font-weight: 800;
    font-size: 38px;
   /* margin-top: px; */
   margin-bottom: 20px;
   cursor: pointer;
}


.about_title:hover{
    color: var(--primary-hover);
}

.about_title strong{
    color: var(--primary-hover);
    margin-right: 8px;
    
}


.about_section_dec ul{
    list-style: none;
}

.about_section_dec ul li h4 {
    margin-bottom: 10px;
    font-size: 16px;
}


.about_section_dec ul li h4 span {
    color: gray;
    margin-left: 5px;
}

.about_section_dec ul li h4 a{
  text-decoration: none;
  color: gray;
}


.about_section_dec ul li h4 a:hover{
    color: var(--primary-hover);
}

.btn_about button{
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid var(--primary-hover);
   border-radius: 2px;
    background-color: var(--primary-hover);
    color: white;
    transition: 0.3 ease-in-out ;
    margin-top: 5px;
}

.btn_about button:hover{
   background-color: var(--primary);
   color: var(--primary-hover);
   transform: scale(1.1);
}


/* work */

.My_creative_section {
    background-color: var(--primary);
   padding: 60px;
  
}

.box_align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work_title {
    font-weight: 800;
    font-size: 38px;
    color: white;
   /* margin-top: px; */
   cursor: pointer;
   text-align: center;
   margin-bottom: 60px;
}

.work_title span{
    color: var(--primary-hover);
}

.work_title:hover{
    color: var(--primary-hover);
}

.My_creative_content_box{
    background-color: #0f0f0f;
    padding: 25px;
    max-width: 300px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
   margin-right: 20px;
}

.My_creative_content_box:hover{
    background-color: #7c7c7c59;
}

.My_creative_content_box h4 {
    color: white;
    font-size: 16px;
}

.My_creative_content_box h4:hover{
    color: var(--primary-hover);
}

.work_icons i{
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--primary-hover);
}

.work_icons i:hover{
    color: white;
}

.work_dec p{
    margin-top: 10px;
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
    text-align: justify;
}

.My_creative_section a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-size: 12px;   

}

.My_creative_section a:hover{
    color: var(--primary-hover);
}

.contact_section{
    background-color: #0f0f0f;
    padding: 60px;
    color: white;
   text-align: center;
  
}

.contact_section h4{
    font-weight: 800;
    font-size: 38px;
    color: white;
   cursor: pointer;
   text-align: center;
   margin-bottom: 60px;
}


.contact_section h4:hover{
    color: var(--primary-hover);
}
.contact_section h4 span{
    color: var(--primary-hover);
}


form input, textarea {
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid var(--primary-hover);
}


.btn_send button{
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid var(--primary-hover);
   border-radius: 2px;
    background-color: var(--primary-hover);
    color: white;
    margin-top: 5px;
    /* width: 350px; */
}

.btn_send button:hover{
   background-color: var(--primary);
   color: var(--primary-hover);
  
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 13px;
}

footer a{
    text-decoration: none;
    color: var(--primary-hover);
    margin-left: 5px;
}

footer a:hover{
    color: aqua;
}


/* Media Queries */

@media only screen and (max-width: 600px) {
    header{
        flex-direction: column;
        /* margin-left: ; */
    }

    header >*{
        margin-bottom: 20px;

    }

    .list{
        margin-left: -60px;
    }
    section.main_items{
        flex-direction: column;
        margin-left: -100px;

    }
    section.main_items img{
        display: none;
    }

    section.about_myelf{
        background: #0f0f0f;
        flex-direction: column;
         /* margin-right: -50px; */
         
    }

    section.about_myelf img{
        margin-left: 0%;
    }

    section.about_section_dec{
        flex-direction: column;
    }
    .about_title{
        flex-direction: column;
        margin-top: 40px;
        margin-left: -150px;
        margin-bottom: 30px;
    }

    .res{

        flex-direction: column;
        margin-left: -150px;
    }

    .btn_about{
        margin-left: -150px;
    }

    section.My_creative_section{
        flex-direction: column;
        /* width: 100%; */
    }

    .box_align{
        flex-direction: column;
    }

    .My_creative_content_box{
        margin-bottom: 30px;
    }

    .contact_section{
        flex-direction: column;
    }

    .contact_section input , textarea {
        width: 100%;
    }
}
